/*reglas
selectores
declaraciones
propiedades
valores*/



/*selector de etiqueta header - section - article - nav*/
/*header {
    background: pink;
    color: red;
}*/

/*selector descendente */
/*body header div nav ol li a */

/* selector de clace */

/*portafolio */

/* link */

/* selector de id # */
/*#portafolio */

/*gris oscuro = #1d252c*/
/*gris claro = #626262*/
/*background gris = #1b2127*/
/*celeste = #026fff */

body {
    font-family: "Source Sans Pro", sans-serif;
    margin:0;
    background-color: #1b2127;
    text-decoration: white;
    /*font-style: italic;*/
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Fjalla One", sans-serif;
}

h1 {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
    /*margin: 100px 500px 70px 30px;*/
    /*text-transform: uppercase;*/
    /*text-decoration: dashed;*/
}

 h1 strong {
    color: #036592;
}
 h2 {
     color: #036592;
     text-transform: uppercase;
     font-family: "Source Sans Pro", sans-serif;
     font-weight: bold;
     font-size: 24px;
     margin-bottom: 40px;

 }

 h3 strong {
     color: #FFFFFF;
 }


.hero {
    height: 300px;
    /*background-image: url("imagenes/will.jpg");*/
    background-color: #1b2127;
    /*background-size: 500px 300px;*/
    /*background-repeat: no-repeat;*/
    /*background-position-x: right;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-image {
    object-fit: cover;
}

.portfolio {
    background: #1b2127;
    /*padding: 20px;*/
    /*background: red;*/
}

.project {
    /*border-top: 10px solid red;*/
    /*border-right: 10px solid green;*/
    /*border-left:10px solid orange;*/
    /*border-bottom: 10px solid pink;*/
    /*color: blue;*/
    /*border-top-color: red;*/
    /*border-top-width: 15px;*/
    /*border-top-style: solid;*/
    /*border: 1px solid gray;*/
    border-radius:10px;
    /*border-top-left-radius: 50px;*/
    /*border-top-right-radius: 10px;*/
    /*border-bottom-left-radius: 10px;*/
    /*border-bottom-right-radius: 10px;*/
    /*margin: 10px;*/
    margin-bottom: 15px;
    /*margin-right: ;
    margin-right: ;
    margin-left: ;
    margin-top: ;*/
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  #014361;
}

.project-course,
.project-date,
.project-url {
    margin: 10px 0;
}

.project-description {
    font-size: 20px;
}

.project strong {
    font-family: "Fjalla One", sans-serif;
}

/*.project-date {*/
    /*margin: 10px 0;*/
/*}*/
.project-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project details {
    width: 500px;
}

.project-imageContainer {
    width: 500px;
}

.header {
    background-color: #1b2127;
    color: white;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    line-height:unset;

}


.header a {
    color: white;
    text-decoration: none;
}
.menu {
    height: inherit;
}
.header ol {
    display: flex;
    height: inherit;
}
.header ol li {
    height: inherit;
    display: flex;

}
.header a {
    display: block;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}
.flexbox {
    display:flex;
    height: 300px;
    /*flex-wrap: nowrap;*/
    flex-wrap: wrap;
    /*flex-direction: column;*/
    align-items: center;
    border: 1px solid blue;
    /*flex-direction: column;*/
    justify-content: center;
}

.box {
    width: 50px;
    height: 50px;
    margin: 5px;
    /*border: 1px solid red;*/
    flex-shrink: 0;
}

.footer {
    color: white;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer img {
    vertical-align: middle;
    margin: auto;
    width: 50px;
    height: 50px;
}

.footer a {
    color: white;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
}

.event-list-title {
   margin-left: 20px;
}
.event {
    /*border: 1px solid red;*/
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow:hidden;
    background: #036592;
}

.event img {
    width: 490px;
    height: 450px;
    object-fit: contain;
    image-orientation: from-image;
}

.event-detail {
    margin: 20px 40px;
    margin-top: -40px;
    background-color: #014361;
    position: relative;
    padding: 20px;
    text-align: center;
    text-shadow: #FFFFFF;


}

.event-description {
    text-align: left;
}

.event-url {
    color:#1b2127;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;

}

.contact {
    background-color: #1b2127;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social {
}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}

.social-link.twitter {
    background-image: url("imagenes/twitter.svg");
}

.social-link.facebook {
    background-image: url("imagenes/facebook.png");
}

.social-link.github {
    background-image: url("imagenes/github.png");
}

.social-link.instagram {
    background-image: url("imagenes/instagram.png");
}

.form-email input {
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url("imagenes/email.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button ´{
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    padding: 10px 0px;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
}

.form-email h3 {
    font-family: "Source Sans Pro", sans-serif;
}

.container {
    /*border: 1px solid red;*/
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    display: inherit;
    flex-wrap: inherit;
    background-color: #1b2127;
}